<% title "Lista para o enxoval do Bebé da Alice e do Filipe" %>

<p>Olá Familia e Amigos, <br />
 Aproxima-se a chegada de um novo elemento da familia. </p>
<p>Por insistência de algumas pessoas decidimos fazer uma lista de prendas que poderão oferecer para o "enxoval" do bebé. Deverão acrescentar o nome à frente do item que pretendem oferecer e, se quiserem podem deixar mensagem.  Podem agrupar prendas por mais do que uma familia e/ou amigo!</p>
<p>Qualquer duvida não hesitem em contactar-nos!!</p>
<p>Desde já:  Muito obrigado!</p>
<p>Beijinhos,<br />
 Filipe, Alice e Bebé!</p>

<p><%= link_to "Lista de prendas", items_path %></p>
